.burger-icon {
  background-color: transparent;
  border-bottom-left-radius: inherit;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger-icon {
    display: inline-flex; /* Show burger icon on mobile */
  }
}

@media (min-width: 769px) {
  .burger-icon {
    display: none; /* Hide burger icon on desktop */
  }
}