.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #FCB121;
}

.BurgerIcon {
  background-color: transparent;
  border-bottom-left-radius: inherit;
  border: none;
  cursor: pointer;
}

@media (max-width: 390px) {
  .BurgerIcon {
    display: inline; /* Show burger icon on mobile */
  }
}

@media (min-width: 769px) {
  .BurgerIcon {
    display: none; /* Hide burger icon on desktop */
  }
}

.logo {
  display: block;
  margin: 10px;
  margin-left: 20px;
  max-height: 20px;
  max-width: 100px;
  padding-bottom: 20px;
  flex-grow: 1;
}

.header-nav {
  display: inline-block; /* Displays nav in a line */
  margin-right: 40px;
  margin-left: 0px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-right: 15px; /* Space between links */
  cursor: pointer;
}

.nav-link:hover {
  color: #333 /* Change color on hover */
}

@media (min-width: 769px) { /* nav on desktop */
  .header-nav {
    display: block; /* Show navigation on desktop */
  }
}

@media (max-width: 768px) { /* nav on mobile */
.header-nav,
.header-buttons {
  display: none; /* Hide navigation menu on mobile*/
  }

.header-nav.show {
    display: block; /* Show dropdown content */
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .header-nav.show a {
    display: block;
    margin: 10px 0;
  }
}

.header-buttons {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.signup-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover,
.signup-button:hover {
  opacity: 0.8;
}