html, body {
    height: 100%;
    margin: 0;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Background image */
    background-image: url('../assets/homepage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Corrected typo */
    background-position: center; /* added center */
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* Add an overlay for better text readability */
.homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Corrected typo */
    z-index: -1;
}

.main-content {
  text-align: center;
  width: 80%; /* Adjusted width */
  margin: 0 auto;
}

.search-section {
    margin-bottom: 60px;
    position: relative;
    z-index: 1; /* Added z-index value */
}

.featured-trucks-section {
    margin-bottom: 500px;
    padding-top: 40px;
    position: relative;
    z-index: 1; /* Added z-index value */
}