.checkout-form-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: 20px
}

.form-container {
    grid-column: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

.order-summary {
    grid-column: 2;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details span {
    display: block;
}

.cart-total {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.place-order-button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}